@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EEFCFB;
    --color-theme-light-dark: #50546E;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #ffffff;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-3: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regual: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14pt: 1.17rem;
    --font-size-16pt: 1.33rem;
    --font-size-18pt: 1.5rem;
    --font-size-24pt: 2rem;
    --font-size-36pt: 3rem;
    --font-size-60pt: 5rem;
    
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

/* General */
html, body {
    font-size: 16px;
    line-height: 1,5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regual);
    color: var(--color-theme-dark);
}
.btn-theme {
    background-color: var(--color-theme);
    border-radius: 30px;
    padding: 0.7rem;
    border: none;
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease-in-out;
}
    .btn-theme:hover {
        scale: 1.1;
    }

/* Top menu */
.top-menu{
    background-color: var(--color-theme);
    color: var(--color-white);   
}
    .top-menu .site-settings {
        display: flex;
    }

    .top-menu .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;  
    }

    /* Left side */
    .top-menu .dropdown-theme button{
        background-color: var(--color-theme);
        color: var(--color-white);
        border: none;
    }
        .top-menu .dropdown-theme button:hover {
        color: var(--color-theme-dark);
        border: none;
        }
    .top-menu .dropdown-menu {
        background-color: var(--color-theme);
    }
    .top-menu .dropdown-window {
        border: none;
    }


    /* Right side */
    .top-menu .right-side {
        display: flex;
    }
    .top-menu a{
        color: var(--color-white);
        text-decoration: none;
    }
    .top-menu .right-side .menu-links a {
        margin-right: 0.6rem;
    }
    .top-menu .right-side .menu-links a:hover {
        color: var(--color-theme-dark);
        border: 1px solid black;
    }
        

    /* Hidden mobile menus */
    .top-menu .social-media {
        display: none;        
    }

    .top-menu .top-menu-links {
        display: none;
    }


/* Main menu */
.main-menu .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

    .main-menu .container .serch-bar {
        position: relative;
        flex: 1;
        margin-left: 3rem; 
    }
        .main-menu .container .serch-bar input {
            width: 100%;
            border-radius: 30px;
            padding: 10px;
            border: 1px solid var(--color-gray-2);
        }
            .main-menu .container .serch-bar input:focus {
                outline: 0;
                box-shadow: 0 0 3px 0 var(--color-theme-dark);
            }
        .main-menu .container .serch-bar .serch-button {
            position: absolute;
            background-color: var(--color-theme);
            color: white;
            right: 0px;
            padding: 10px 20px 12px 15px;
            border-radius: 0 30px 30px 0;
            border: none;
        }
    .main-menu .container .menu-links #cart {
        position: relative;
    }
        .main-menu .container .menu-links #cart .badge {
            background-color: var(--color-theme);
            position: absolute;
            top: -1.2rem;
            left: 0.8rem;
        }
            .main-menu .container .menu-links #cart .badge:hover {
                background-color: var(--color-theme-dark);
            }

    /* Hidden mobile content */
    .main-menu .container .menu-links {
        display: none;
    }
    

/* Main menu bottom */

.main-menu-bottom {
    border-top: 1px solid var(--color-gray-2);
    border-bottom: 1px solid var(--color-gray-2);
}
    .main-menu-bottom .container{
        display: flex;
        justify-content: space-between;           
    }
    
    /* Left side */
    .main-menu-bottom .browse-catagories button {
        background-color: var(--color-theme);
        color: var(--color-white);
        border: none;
        padding: 0.7rem 0.8rem;
    }
        .main-menu-bottom .browse-catagories button i:nth-child(2){
            margin-left: 1.5rem;
        }

        .main-menu-bottom .browse-catagories button:hover {
            background-color: var(--color-theme-dark);
            transition: 0.3s;
        }

    /* Right side */
    .main-menu-bottom .special-offer {
        display: flex;
    }
        .main-menu-bottom .special-offer button {
            background-color: var(--color-theme);
            color: var(--color-white);
            border-radius: var(--border-radius-medium);            
        }
        .main-menu-bottom .special-offer button:hover {
            background-color: var(--color-theme-dark);
        }


/* Banner section */
.showcase {
    background-color: var(--color-gray-3);
}

    .showcase .container{
        background-color: var(--color-gray-3);
        text-align: center; 
        padding: 1.5rem 0;    
    }
        .showcase .headline-text {
            display: flex;
            flex-direction: column;
        }
        .showcase .container h1{
            font-size: 3.7em;
            font-family: var(--font-play);           
        }
            .showcase .container strong {
                color: var(--color-theme);
                font-size: 3.7rem;
            }
            .showcase .container button {
                background-color: var(--color-white);
                color: var(--color-white);
                border-radius: var(--border-radius-medium);
                margin-bottom: 1.2rem;
                margin-right: 20%;
                margin-left: 20%;
            }
                .showcase .container button:hover {
                    background-color: var(--color-theme-dark);
                }
                .showcase .container button a{
                    color: var(--color-theme);
                    font-weight: var(--font-weight-medium);
                    font-size: var(--font-size-18pt);
                    text-decoration: none;
                }
                
    /* Hidden mobile content */
    .showcase img {
        display: none;
    }


/* Information section */
.information-boxes {
    margin-top: 4rem; 
}

.information-boxes .info-box {
    display: flex;
    align-items: center;
    background-color: #EDFCFA;
    border-radius: var(--border-radius-small);
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}
    .information-boxes .info-box h6 {
        color: var(--color-theme);
        transition: 0.3s ease-in-out;
    }
    .information-boxes .info-box img {
        margin: 0 1rem;
        filter: brightness(100%);
        transition: 0.3s ease-in-out;
    }
    .information-boxes .info-box div {
        margin-top: 1rem;
    }
    .information-boxes .info-box:hover {
        background-color: var(--color-theme);
        color: var(--color-white);
    }
    .information-boxes .info-box:hover img {
        filter: brightness(1000%); 
    }
    .information-boxes .info-box:hover h6 {
        color: var(--color-white);
    }

/* Titles */
.title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 8rem;
}
    .title h1 {
        color: var(--color-theme-dark);
        font-weight: var(--font-weight-bold);
    }
        .title h1 span{
            color: var(--color-theme);
        }
    .title img {
        margin-top: 0.4rem;
        margin-bottom: 1.4rem;
    }


/* Categories section */
.categories {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;   
}
.categories .category-box {
    background-color: var(--color-gray-1);
    border-radius: var(--border-radius-small);
    width: 100%;
    height: 300px;
    position: relative;
    justify-self: center;
}
    .categories .category-box {
        transition: 0.3s ease-in-out;
    }

    .categories .category-box:hover {
        transform: scale(1.02);
    }
    .categories .category-box .category-title {
        display: flex;
        flex-direction: column;
        background-color: var(--color-theme-dark);
        color: var(--color-theme);
        border-radius: 0 var(--border-radius-small);
        padding: 0.5rem 1rem;
        font-weight: var(--font-weight-medium);
        width: 50%;
        position: absolute;
        bottom: 0px;
        height: 35px;
        transition: 0.2s ease-in-out;
    }
        .categories .category-box .category-title span {
            color: var(--color-white);
            font-size: 0.9rem;
        }
         .categories .category-box:hover .category-title {
            height: 60px;  
        }


/* New arrivals section */
.new-arrivals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 5rem;
}
    .container .card-box {
        background-color: var(--color-gray-3);
        border-radius: var(--border-radius-small);
        overflow: hidden;
        position: relative;
    }
        .container .card-box img {
            width: 100%;
        }
        .container .card-box .card-background {
            background-color: var(--color-theme-dark);
            opacity: 88%;
            position: absolute;
            bottom: 0px;
            height: 50px;
            width: 100%;
            z-index: 1;
            transition: 0.3s ease-in-out;
        }
        .container .card-box .card-menu {
            position: absolute;
            border-radius: 30px;
            background-color: var(--color-white);
            top: 100%;
            right: 5%;
            padding: 0.8rem;
            z-index: 2;
            list-style: none;
            font-size: 1.4rem;
            transition: 0.3s ease-in-out;
        }
            .container .card-box .card-menu .fa-circle {
                color: var(--color-product-instock);
            }
            .container .card-box .card-menu a {
                color: var(--color-theme-dark);
            }
            .container .card-box .card-menu a:hover {
                color: var(--color-theme);
            }
        .container .card-box .card-info {
            color: var(--color-white);
            width: 100%;
            position: absolute;
            z-index: 2;
            bottom: -125px;
            padding: 1rem;
            transition: 0.3s;
        }
            .container .card-box .card-info button {
                background: none;
                color: var(--color-white);
                border: 1px solid white;
                margin: 0.5rem 0;
            }
            .container .card-box .card-info p {
                text-decoration: line-through;
            }
            .container .card-box .card-info strong {
                color: var(--color-theme);
                font-size: 1.25rem;
            }
            .star-box {
                direction: rtl;
            }
                .box i{
                    font-size: 40px;
                    color: white;
                    transition: 0.3s ease-in-out;
                }
                    .star-box i:hover {
                        color: var(--color-theme);                        
                    }
                    .star-box .s1:hover ~ i {
                        color: var(--color-theme);                        
                    }
                    .s2:hover ~ i {
                        color: var(--color-theme);                        
                    }
                    .s3:hover ~ i {
                        color: var(--color-theme);                        
                    }
                    .s4:hover ~ i {
                        color: var(--color-theme);                        
                    }
                    .s5:hover ~ i {
                        color: var(--color-theme);                        
                    }
        .container .card-box:hover .card-menu {
            top: 5%;
        }
        .container .card-box:hover .card-background {
            height: 100%;
        }
        .container .card-box:hover .card-info {
            bottom: 0;
        }
            
/* New customer discount section */
.discount-section {
    background-color: var(--color-gray-2);
}
    .discount-section .discount-info {
        text-align: center;
        color: var(--color-white);
        background-color: var(--color-theme);
        border-radius: 10px;
        padding: 2rem 0;
    }
    .discount-section .container .discount-info h1 {
        font-size: var(--font-size-60pt);
    }
        .discount-section .container .discount-info strong {
            margin-left: 5px;
        }
    .discount-section .btn-theme {  
        font-size: var(--font-size-18pt);
        color: var(--color-theme);
        background-color: var(--color-white);
        padding: 0.7rem 2rem; 
    }
        .discount-section button:hover {
            background-color: var(--color-theme-dark);
            color: var(--color-white);
            
        }
    .discount-section .information {
        text-align: center;  
        padding: 2rem 0; 
    }

/* Flash sale section */
.flash-sale {
    background-color: var(--color-theme-dark);
}
    .flash-sale .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flash-sale .container .left-side {
        width: 100%;
    }
        .flash-sale .container .flash-sale-box {
            background-color: var(--color-theme);
            color: white;
            width: 100%;
            text-align: center;
            border-radius: var(--border-radius-medium);
            padding: 2rem 0 1rem 0;
        }
            .flash-sale .container .flash-sale-box h1 {
                font-weight: var(--font-weight-bold);
                font-size: 3.8rem;
                line-height: 55px;
            }
            .flash-sale .container .flash-sale-box .flash-sale-box p {
                font-size: 1.6rem;
                margin-top: 0.8rem;
                font-weight: var(--font-weight-bold);
                
            }
        .flash-sale .container .right-side {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
        .flash-sale .container .right-side .btn-theme {
            width: 200px;
            margin-bottom: 2rem;
        }
        .flash-sale .container .right-side .timer-box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            gap: 0.6rem;
            margin: 2rem 0;
        }
            .flash-sale .container .right-side .timer-box .counter-box {
                background-color: white;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
            }
            .flash-sale .container .right-side .timer-box .counter-box::before {
                content: '';
                position: absolute;
                height: 86px;
                width: 86px;
                border-radius: 50%;
                left: -3px;
                top: -3px;
                border: 3px dashed var(--color-theme);
                animation: circle 30s linear infinite;
            }
                @keyframes circle {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
                .flash-sale .container .right-side .timer-box .counter-box h1 {
                    color: var(--color-theme);
                    margin-top: 1.5rem;
                    line-height: 30%;
                }

/* Top sellers section */
.top-sellers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 5rem;
    
}


/* Subscribe section */
.subscribe-section {
    background-color: var(--color-gray-3);
    height: 300px;
}
.subscribe-section .container {
    height: 100%;
}   
    .subscribe-section .container .subscribe-area {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
    }
        .subscribe-section .container .subscribe-area h1 {
            font-family: var(--font-play);
            font-weight: var(--font-weight-bold);
        }
            .subscribe-section .container .subscribe-area h1 span {
                color: var(--color-theme);
            }
        .subscribe-section .container .subscribe-area .subscribe-form {
            position: relative;
            width: 80%;            
        }
            .subscribe-section .container .subscribe-area .subscribe-form input {
                padding: 10px;
                border: 1px solid var(--color-gray-2);
                border-radius: var(--border-radius-medium);
                width: 100%;
                
            }
            .subscribe-section .container .subscribe-area .subscribe-form .btn-theme{
                position: absolute;
                padding: 8px 15px;
                right: 5px;
                top: 3px;
            }

/* Footer */
footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding-bottom: 0.5rem;
    padding-top: 1.3rem;
    
}



@media (min-width: 576px) {

    /* categories */
    .categories {
        grid-template-columns: 1fr 1fr;
    }
        .categories .category-box {
            width: 48%;
        }
        
    
}

@media (min-width: 768px) {

    /* Top Menu bar */

    /* Added content */
    .top-menu .social-media{
        display: flex;
    }
        .top-menu .social-media a {
            margin-right: 1rem;
            
        }
            .top-menu .social-media a:hover {
                color: var(--color-theme-dark);
            }
    
    .top-menu .top-menu-links {
        display: flex;
    }
        .top-menu .top-menu-links a {
            margin-right: 1rem;
        }
            .top-menu .top-menu-links a:hover {
                color: var(--color-theme-dark);
            }
    
    /* Hidden content */
    .top-menu .menu-links {
        display: none;
    }

    /* Main menu */
    .main-menu .container {
        flex-direction: row;
        
    }
        .main-menu .container .input-group {
            flex: 2;
            margin-left: 1rem;
        }

    .main-menu .container .menu-links {
        display: flex;
    }
        .main-menu .container .menu-links a{
            color: var(--color-theme-dark);
            text-decoration: none;
            margin-left: 1rem;
            font-size: var(--font-size-14pt);
        }
        .main-menu .container .menu-links a:hover{
            color: var(--color-theme);
        }
    
    .showcase .container {
        display: flex;
        padding: 0;
        align-items: center;
        text-align: left;
    }
        
        .showcase .container button{
            margin: 0;
            width: 50%;
        }
    
        /* Added content */
        .showcase img {
            display: block;
            width: 50%;
        }
    
    .information-boxes {
        display: flex;
        flex-direction: column;
        max-width: 1700px;   
    }
        .information-boxes .first-containers {
            display: flex;
            flex: 1;
        }
        .information-boxes .second-containers {
            display: flex;
            flex: 1;
        }
        .information-boxes .info-box {
            margin: 1rem;
            flex: 1;
        }

    /* Cards sections */
    .new-arrivals {
        justify-content: space-between;
    }
    .top-sellers {
        justify-content: space-between;
    }
        .container .card-box {
            width: 49%;
        }
    
    /* Flash sale section */
    .flash-sale .container .left-side {
        width: 70%;
    }
    
    
}

@media (min-width: 992px) {

    /* New arrival section */
    .new-arrivals .card-box {
        width: 32%;
    }

    /* New customer discount section */
    .discount-section .container {
        display: flex;
        justify-content: space-between;
        height: 420px;
        
    }
        .discount-section .middle-div {
            flex: 4;
        }
        .discount-section .discount-info {
            flex: 6;
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;            
        }
            .discount-section .discount-info strong {
                font-size: var(--font-size-36pt);
            }
            .discount-section .discount-info button {
                width: 200px;
                align-self: center;
            }
        .discount-section .information {
            flex: 10;
            display: flex;
            flex-direction: column;
            text-align: start;
            align-items: start;
            justify-content: center;
            gap: 2rem;
        }





}

@media (min-width: 1200px) {
    .information-boxes {
        flex-direction: row;
    }
    .discount-section .middle-div {
        flex: 8;
    }
    
    /* Flash sale section */
    .flash-sale .container {
        flex-direction: row;
        height: 315px;
    }
        .flash-sale .container .left-side {
            width: 100%;
            height: 100%;
            position: relative;
        }
            .flash-sale .container .left-side .flash-sale-box {
                position: absolute;
                border-radius: 0;
                width: 280px;
                top: 0;
            }
        .flash-sale .container .right-side .timer-box {
            gap: 2rem;
        }
            .flash-sale .container .right-side .timer-box .counter-box {
                height: 110px;
                width: 110px;
            }
                .flash-sale .container .right-side .timer-box .counter-box::before {
                    height: 116px;
                    width: 116px;
                }
            .flash-sale .container .right-side .timer-box .counter-box h1 {
                margin-top: 2rem;
                line-height: 60%;
            }

    /* Subscribe section */
    .subscribe-section .container {
        display: flex;
        flex-direction: row;
    }
        .subscribe-section .container .grey-box {
            flex: 1;
            height: 100%;
            background-color: var(--color-gray-1);
        }
        .subscribe-section .container .subscribe-area {
            align-items: start;
        }
            .subscribe-section .container .subscribe-area p {
                width: 70%;
                text-align: start;
            }
}

@media (min-width: 1400px) {

    /* Category section */
    .categories {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 250px);
        margin-bottom: 5rem;
        
    }
        .categories .category-box {
            width: 100%;
            height: 100%;
        }    
    
    #category-box-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #category-box-2 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #category-box-3 {
        grid-column: 4 / -1;
        grid-row: 1 / 3;
    }
    #category-box-4 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    #category-box-5 {
        grid-column: 1 / 3;
        grid-row: 2 / -1;
    }
    #category-box-6 {
        grid-column: 3 / 5;
        grid-row: 3 / -1;   
    }
    #category-box-7 {
        grid-column: 5 / -1;
        grid-row: 3 / -1;
    }

    /* Top sellers section */
    .top-sellers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 350px;
        gap: 1rem;
        margin-bottom: 8rem;
    }
        .top-sellers .card-box {
            width: 100%;
        }
        #TopSeller-box-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 3;        
        }
        #TopSeller-box-2 {
            grid-column: 2 / -1;
            grid-row: 1 / 2;
        }
        #TopSeller-box-3 {
            grid-column: 2 / -1;
            grid-row: 2 / -1;
        }
}


/* Login / signin site */


/* Site title */
.site-title {
    background-color: var(--color-theme-light-dark);
}
    .site-title .container {
        color: var(--color-theme);
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .site-title .container h4 {
        margin: 0;        
    }
        .site-title .container .breadcrumb {
            margin: 0;
        }
        .site-title .container .breadcrumb li+li:before {
            padding: 8px;
            content: "/\00a0";
        }
        .site-title .container .breadcrumb li a {
            color: var(--color-theme);
            text-decoration: none;
        }
        .site-title .container .breadcrumb li a:hover {
            color: var(--color-white);
        }


/* Login / Registration section */
.signin-register .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    align-items: start;
}
    .signin-register .container .window {
        flex: 1;
        background-color: var(--color-gray-3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        width: 100%;
    }
        
        .signin-register .container .window label span {
            color: var(--color-theme);
            font-size: 1.2rem;
            margin-left: 0.2rem;
        }
            
        .signin-register .container .window .input-field input {
            border: none;
            border-radius: 4px;
            width: 100%;
            padding: 0.6rem;
        }

        .signin-register .container .window .btn-theme {
            transition: 0.2s ease-in-out;
        }
            .signin-register .container .window .btn-theme:hover {
                background-color: var(--color-theme-dark);
            }

        .signin-register .container .window .additional-options {
            display: flex;
            justify-content: space-between;
        }

        .signin-register .container .window .additional-options .remember-me {
            display: flex;
            gap: 0.8rem;
        }
            .signin-register .container .window .additional-options .remember-me label {
                margin-top: 0.2rem;
            }

        .signin-register .container .window .additional-options a {
            color: var(--color-theme);
            text-decoration: none;
            margin-top: 0.2rem;
            transition: 0.2s ease-in-out;
        }
            .signin-register .container .window .additional-options a:hover {
                color: var(--color-theme-dark);
            }
        
            

.signin-register .window a {
    color: var(--color-theme);
    text-decoration: none;
    display: inline-block;
    transition: 0.1s ease-in-out;
 }
    .signin-register .window a:hover {
        color: var(--color-theme-dark);
        text-decoration: underline;
        transform: scale(1.03);
    }

.form-theme input[type = "text"],
.form-theme input[type = "email"],
.form-theme input[type = "password"] {
    width: 100%;
    border: none;
    padding: 0.6rem;
    border-radius: 4px;
    margin-bottom: 1.2rem;
}
    .form-theme input[type = "text"]:focus,
    .form-theme input[type = "email"]:focus,
    .form-theme input[type = "password"]:focus {
        outline: 0;
        box-shadow: 0 0 3px 0 var(--color-theme-dark);

    }
    .signin-register .container .window .external-login-title {
        display: flex;
    }
        .signin-register .container .window .external-login-title h5 {
            margin: auto;
        }
        .signin-register .container .window .external-login-title span {
            border-bottom: 1px solid var(--color-gray-0);
            width: 20%;
            margin: auto;
        }
    .signin-register .container .window .external-login {
        display: flex;
        gap: 0.8rem;
    }
    .signin-register .container .window .external-login .facebook-button {
        display: flex;
        flex: 1;
        background-color: #3B5998;     
        justify-content: center;
        position: relative;
        border-radius: 5px;
        color: white;
        border: none;
        height: 42px;
        transition: 0.2s ease-in-out;
    }
    .signin-register .container .window .external-login .google-button {
        flex: 1;
        display: flex;
        background-color: #4285F4;
        position: relative;
        justify-content: center;
        color: white;
        border-radius: 5px;
        border: none;
        transition: 0.2s ease-in-out;
    }
    .signin-register .container .window .external-login button:hover {
        background-color: var(--color-theme-dark);
        scale: 1.05;
    }

        .signin-register .container .window .external-login p{
            margin: 0;
            align-self: center;
        }
        .signin-register .container .window .external-login .google-img {
            width: 30px;
            position: absolute;
            left: 10px;
            top: 5px;
        }
        .signin-register .container .window .external-login .facebook-img {
            filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(281deg) brightness(108%) contrast(108%);
            width: 27px;
            position: absolute;
            left: 10px;
            top: 5px;
        }


@media (min-width: 992px) {
    .signin-register .container {
        flex-direction: row;
    }
        .signin-register .container .window .external-login-title span {
            width: 30%;
        }
}